[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "urxvt/urxvt-font-size"]
	path = urxvt/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/vim-project"]
	path = vim/bundle/vim-project
	url = https://github.com/amiorin/vim-project
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
