[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "config/awesome/vicious"]
	path = config/awesome/vicious
	url = https://github.com/Mic92/vicious.git
[submodule "urxvt/urxvt-font-size"]
	path = urxvt/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size
